/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f6f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Estilo para grupos de formularios */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-right: 10px;
    min-width: 150px;
}

/* Estilos para campos de entrada y selección */
.input-field {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    flex: 1;
}

/* Estilos para el botón */
.btn {
    padding: 8px 15px;
    font-size: 16px;
    color: white;
    background-color: #0F034E;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.btn:hover {
    background-color: #0F034E;
}

/* Estilos para el contenedor de información del jefe */
.jefe-info {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

/* Estilos para el selector y la tabla */
select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

/* Estilos para la tabla */
#tabla_asistencia_container {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #0F034E;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.classbotones{
    background-color: #0F034E !important;
    color: white !important;
  }
  
  .classbotones:hover{
    background-color: #1b0686 !important;
    color: white !important;
  }

  .dia-horario {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

/* Estilo para el input de fecha del domingo */
.fecha-domingo {
    display: none;
    margin-top: 5px;
    margin-left: 10px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
}

.fecha-domingo:focus {
    outline: none;
    border-color: #0F034E;
    box-shadow: 0 0 5px rgba(13, 15, 112, 0.5);
}

/* Estilos para la celda centrada */
.celda-centro {
    text-align: center;
    vertical-align: middle;
}

/* Estilos para que los inputs parezcan un solo campo unido */
.time-range {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: fit-content;
    margin: 0 auto; /* Centra el elemento dentro de su contenedor */
}

.time-range input[type="time"] {
    border: none;
    padding: 5px;
    text-align: center;
    outline: none;
}

.time-range input[type="time"]:first-child {
    border-right: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.time-range input[type="time"]:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.print-button1 {
    position: fixed;
    top: 10px; /* Distancia desde la parte superior */
    right: 10px; /* Distancia desde la parte izquierda */
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
    padding: 10px 20px;
    background-color: #0F034E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.print-button1:hover {
    background-color: #1b0686;
}
.botones-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 1000;
  }
  .botones-container button{
    width: 200px;
  }
  
a{
    text-decoration: none;
}